@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


$primary: #ffee00;


body, html {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  font-family: 'Montserrat';
}


.container {
  background: $primary;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  
  header {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 20px;
  }
  #logo {
    width: 100px;
  }

  nav {
    justify-self: right;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      display: inline;

      a {
        padding: 8px 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
      }
    }
  }

  #hero {
    position: relative;
    z-index: 1;

    overflow: hidden;
    object-fit: scale-down;

    video {
      position: absolute;
      z-index: -1;
      width: 100%;
    }

    #content {
      padding: 4em;
      h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 5em;
        font-weight: 800;
      }

      p {
        font-size: 1.5em;
        margin-top: 0;
      }

      .btn {
        background: #000;
        padding: 15px 60px 15px 30px;
        color: #fff;
        font-size: 1.5em; 
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        margin-top: 1.2em;
        display: inline-block;
        margin-bottom: 1em;
        // https://bennettfeely.com/clippy/
        -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
      }


    }

  }

}

