@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body, html {
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat';
}

.container {
  background: #ffee00;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.container header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  padding: 20px;
}

.container #logo {
  width: 100px;
}

.container nav {
  -ms-grid-column-align: right;
      justify-self: right;
}

.container ul {
  list-style-type: none;
  margin: 0;
}

.container ul li {
  display: inline;
}

.container ul li a {
  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.container #hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.container #hero video {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.container #hero #content {
  padding: 4em;
}

.container #hero #content h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 800;
}

.container #hero #content p {
  font-size: 1.5em;
  margin-top: 0;
}

.container #hero #content .btn {
  background: #000;
  padding: 15px 60px 15px 30px;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1.2em;
  display: inline-block;
  margin-bottom: 1em;
  -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
}
/*# sourceMappingURL=main.css.map */